.div {
    justify-content: center;
    margin-right   : 2px;
}

ion-label {
    font-weight: bold;
}

.flex {
    margin-top     : 20px;
    display        : flex;
    justify-content: center;
}

.img-box {
    height  : 200px;
    overflow: hidden;
}

.button {
    justify-content: center !important;
    text-align     : center !important;

}

.gallery {
    font-size  : 12px;
    font-weight: bold;
}

.photo {
    font-size  : 12px;
    font-weight: bold;
}

.finish {
    font-weight: bold;
}

.camera {
    margin-right: 3px;
}
.image {
    margin-right: 3px;
}