.title {
    font-size      : bolder;
    font-family    : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;

}

.template {
    margin-top     : 60%;
    text-align     : center;
    font-weight    : bold;
    font-size      : 20px;
    justify-content: center;
    justify-content: center;
}

.email {
    color      : rgb(156, 156, 156);
    margin-left: 10px;
}

.chatimg {
    border-radius: 50%;
    height       : 40px;
    width        : 40px;
}

.chatname {
    margin-left: 10px;
    font-weight: bold;
    color      : black;
}

.online {
    color      : rgb(0, 102, 255);
    text-align : center;
    font-size  : 8px;
    margin-left: 2px;
}

.offline {
    color      : rgb(194, 194, 194);
    text-align : center;
    font-size  : 8px;
    margin-left: 2px;
}

.profile {
    border-radius   : 50%;
    background-color: rgb(238, 238, 238);
    justify-content : center;
    text-align      : center;
    height          : 25px;
    width           : 25px;


    ion-icon {
        margin-top     : 2.5px;
        color          : black;
        height         : 20px;
        width          : 20px;
    }
}