.img {
    border-radius: 7px;
}

.title {
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.again {
    font-size: 30px;
    margin   : 7px;
}