.back {
    color: white;
}

.title {
    color      : white;
    font-weight: bold;
}

.icon {
    font-size: 30px;
    margin   : 7px;
}

.img {
    border-radius: 5px;
}

.template {
    margin-top : 60%;
    text-align : center;
    font-weight: bold;
    font-size  : 25px;
}